@charset "UTF-8";

body {
  margin: 0;
  padding: 0;

  color: #1a1a1a;
  box-sizing: border-box;
  overflow-x: hidden;

  main {
    overflow-x: hidden;

    section {
      overflow-y: hidden;
    }
  }
}

// RESET
ul {
  list-style-type: none;
  padding-left: 0px;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

i {
  color: #1a1a1a;
}

// HEADER AND NAV
header {
  background-color: #f6f6f6;
  border-bottom: 1px solid #1a1a1a;

  img {
    width: 100px;
  }
}

// Nav bar
.navbar-btn-container {
  width: 5px;
  order: 100;

  .navbar-btn {
    background-color: #f6f6f6;
    border: none;
    padding: 10px;
  }
}

// Nav items
.nav-link {
  color: #1a1a1a;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: #1ea33f;
  }
}

// Catalog: dropdown menu
#menu-desplegable-hamburguesa {
  display: none;
}

// Media queries: header
@media screen and (max-width: 991px) {
  // Search bar
  .navbar-btn-container {
    order: 0;
  }

  // Hamburger menu (responsive)
  .navbar-toggler {
    border: none;
    color: #f6f6f6;
  }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
  // Nav bar
  .navbar-btn-container {
    width: 60px;
    margin-right: 15px;

    .navbar-btn {
      padding: 4px;
    }
  }
}

.slide {
  img {
    height: 80vh;
  }
}

.container-sm {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// FOOTER
footer {
  background-color: #1a1a1a;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 24px;

  .logo-footer {
    width: 100px;
  }

  // Redes sociales
  .red-social-icon {
    color: #f6f6f6;
    font-size: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: #ff9a9a;
    }
  }

  // Copyright
  .h4-copyright {
    text-align: center;
    font-size: 0.625rem;
    font-weight: 500;
    color: #b7b7b7;
  }
}

// Media queries: footer
@media screen and (max-width: 768px) {
  footer {
    margin-top: 50px;
    padding-top: 30px;
  }
}

// Estilos para la sección de contacto
.contacto form {
    max-width: 600px;
    margin: 0 auto;
  
    @media only screen and (max-width: 480px) {
      max-width: 100%;
    }
  }
  
  // Estilos para la sección de lugares
  #siteIntro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    .introImg img {
      width: 100%;
      height: auto;
    }
  
    .introInfo p {
      font-size: 25px;
    }
  }
  
  
  // Estilos generales para la página
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  
    .row {
      display: flex;
      flex-wrap: wrap;
  
      .col {
        flex: 1;
        margin: 10px;
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
  
      @media only screen and (max-width: 768px) {
        .col {
          flex: 100%;
        }
      }
    }
  }

  // Tipografía para la sección de contacto
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300;400;700&display=swap');
  
  .form {
    background-color: #dbdddb;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0) / 30%;
    text-align: center;
  
    &__title {
      font-size: 2rem;
      margin-bottom: .5em;
    }
  
    &__paragraph {
      font-weight: 300;
    }
  
    &__link {
      font-weight: 300;
      color: #000;
    }
  
    &__container {
      margin-top: 3em;
      display: grid;
      gap: 2.5em;
  
      &__group {
        position: relative;
        --color: #5757577e;
  
        &__input {
          width: 100%;
          background: none;
          color: #706c6c;
          font-size: 1rem;
          padding: .6em .3em;
          border: none;
          outline: none;
          border-bottom: 1px solid var(--color);
        }
  
        &__label {
          color: var(--color);
          cursor: pointer;
          position: absolute;
          top: 0%;
          left: 5px;
          transform: translateY(10px);
          transition: transform .5s, color .3s;
        }
      }
    }
  }
  